<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="agentieDeTurism"
             connectionString="Data Source=C:\Users\user\Documents\facultate\# An 2 semestrul 2\Medii de proiectare si programare\Laborator\C#\Laborator3\Laborator3\bin\Debug\agentie_de_turism.db;"/>
	</connectionStrings>
	
</configuration>