# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.LabC.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Facultate\MPP\LabC\.idea\.idea.LabC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
